# Dev environment
pip
autopep8

# App
# requirements.txt
Flask
Flask-SocketIO
python-socketio[client]
eventlet  # Or gevent - needed for SocketIO production/async
pymongo
google-generativeai
gTTS
python-dotenv